:root {
    --color1: #22333b;
    --color2: rgba(43, 51, 59, 0.7);
    --color3: #5e503f;
    --color4: #a9927d;
    --color5: #005963;
    --color6: #f2f3f4;
    --color7: #0a0908;
    --colorWhite: #fff;
    --colorBlack: #000;
    
    --fontSize1: 14px;
    --fontSize2: 16px;
    --fontSize3: 18px;
    --fontSize4: 20px;
    --fontSize5: 25px;
    --fontSize6: 30px;
    --fontSize7: 40px;
    --fontSize8: 50px;
    --fontSize9: 60px;
    --fontSize10: 70px;
    --fontSize11: 80px;
    --fontSize12: 90px;
    --fontSize13: 100px;
    
    --fontWeight1: 100;
    --fontWeight2: 200;
    --fontWeight3: 300;
    --fontWeight4: 400;
    --fontWeight5: 500;
    --fontWeight6: 600;
    --fontWeight7: 700;
    --fontWeight8: 800;
    --fontWeight9: 900;
    
    --fontFamily1: 'Open Sans', sans-serif;
    --fontFamily2: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, p {
    font-family: var(--fontFamily1);
}
a {
    display: inline-block;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.img-100 {
    width: 100%;
    height: auto;
}
.row {
    margin-right: 0px;
}
.container-fluid {
    padding: 0px 75px;
}
.nav-top {
    background: var(--color1);
    position: relative;
}
.info {
    padding: 0px;
}
.nav-top svg {
    width: 16px;
    height: 16px;
    fill: var(--colorWhite);
}
.nav-top .col-lg-6 a {
    text-decoration: none;
    color: var(--colorWhite);
    padding: 12px 5px;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
}
.nav-top .text-end svg {
    position: relative!important;
    margin-right: 15px;
}
.navbar {
    background: var(--color2);
    position: fixed;
    top: 45px;
    z-index: 9999;
    width: 100%;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar.active {
    background: var(--color1);
    top: 0px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar ul {
    margin-left: auto;
    margin-right: auto;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--colorWhite);
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
}
.navbar ul li a:hover {
    color: var(--color4);
}
.navbar ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color4);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar .btn-1 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight7);
    background-color: var(--color3);
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%)
}
.navbar .btn-1:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
header {
    position: relative;
}
.bg {
    padding: 300px 0px;
    background-position: center center;
    text-align: center;
    background-size: cover;
}
header .container {
    position: relative;
    z-index: 2;
}
.bg-header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 172, 177, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
}
header p {
    color: var(--colorWhite);
    font-size: var(--fontSize4);
    text-transform: capitalize;
    margin-bottom: 30px;
    text-shadow: 3px 3px 25px rgba(2, 2, 2, 1); 
}
header h1 {
    color: var(--colorWhite);
    font-size: var(--fontSize10);
    text-transform: capitalize;
    font-weight: var(--fontWeight7);
    margin: 0px;
    padding: 0px 300px;
    text-shadow: 3px 3px 25px rgba(2, 2, 2, 1);
}
header .btn-2 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    background-color: var(--color3);
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-right: 20px;
    margin-top: 30px;
}
header .btn-2:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
header .btn-3 {
    text-decoration: none;
    color: var(--color3);
    text-transform: capitalize;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    background-color: var(--colorWhite);
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-top: 40px;
}
header .btn-3:hover {
    background-color: var(--color3);
    color: var(--colorWhite);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.swiper-button-next:after {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight9);
    color: var(--colorWhite);
    margin-right: 50px;
    background-color: var(--color3);
    padding: 15px 20px;
    border-radius: 50%;
}
.swiper-button-prev:after {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight9);
    color: var(--colorWhite);
    margin-left: 50px;
    background-color: var(--color3);
    padding: 15px 20px;
    border-radius: 50%;
}
.section-1 h2, .section-5 h2 {
    text-shadow: 6px 6px 40px rgba(2, 2, 2, 1); 
}
.section-1 span {
    position: relative;
}
.section-1 h2::after {
    content: '';
    width: 20px;
    height: 10px;
    color: red;
    position: absolute;
}
.section-1 .container {
    margin-top: 70px;
    margin-bottom: 100px;
}
.section-1 .row { 
    margin-top: 100px;    
}

.section-1 .col-lg-3 {
    position: relative; 
    -webkit-box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
    -moz-box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
    box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
}
.section-1 .image-overflow {
    overflow: hidden;
    width: 100%;
    height: 90%;
}
.section-1 .col-lg-3 img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 8px 8px 100px -43px rgba(5, 5, 5, 1);
    -moz-box-shadow: 8px 8px 100px -43px rgba(5, 5, 5, 1);
    box-shadow: 8px 8px 100px -43px rgba(5, 5, 5, 1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-1 .col-lg-3 img:hover {
    transform: scale(1.1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;  
}
.section-1 .box {
    background: var(--color4);
    padding: 15px;
    position: absolute;
    bottom: 15px;
    width: 260px;
    left: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
    -moz-box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
    box-shadow: 8px 8px 100px -65px rgba(5, 5, 5, 1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-1 .box:hover {
    background: var(--color1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-1 .box a {
    text-decoration: none;
    color: var(--colorWhite);
}
.section-1 .box h4 {
    font-size: var(--fontSize4)!important;
}
.section-2 {
    background: #a9927d url('../img/pattern-2.png') center center no-repeat;
}
.section-2 h2  {
    color: var(--colorWhite);
    text-shadow: 3px 3px 25px rgba(2, 2, 2, 1); 
}
.section-2 .container {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-2 .box {
    border: rgba(255, 255, 255, 0.1) solid 2.5px;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px 30px 45px 30px;
    margin-top: 30px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-2 .box:hover {
    -webkit-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;    
}
.section-2 .box .number {
    color: var(--colorWhite);
    font-size: var(--fontSize7);
    font-weight: var(--fontWeight7)
}
.section-2 .box a {
    text-decoration: none;
    color: var(--colorWhite);
    font-size: var(--fontSize5);
    margin-bottom: 30px;
}
.section-2 .box p {
    color: var(--colorWhite);
}
.section-2 .btn-2 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    background-color: var(--color1);
    padding: 25px 40px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-top: 60px;
}
.section-2 .btn-2:hover {
    background-color: var(--color3);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-5 .col-lg-6 {
    margin-bottom: 40px;
}
.section-5 p {
    padding-right: 40px;
}
.section-5 span {
    display: block;
    margin-bottom: 30px;
}
.section-5 .contact-info ul {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
}
.section-5 .contact-info ul li {
    list-style: none;
}
.section-5 .contact-info a {
    text-decoration: none;
    color: var(--color3);
}
.section-5 .contact-info svg {
    width: 16px;
    height: 16px;
    fill: var(--color3);
    margin-top: -2px;
    margin-right: 4px;
}
.section-5 .contact-info span {
    margin-bottom: 20px;
}
.form-1 input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-1 input[type=submit] {
    background: var(--color3);
    color: var(--colorWhite);
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border: none;
    width: 100%;
}
.form-1 input[type=submit]:hover {
    background-color: var(--color4);
    border-color: var(--colorBlack);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.form-1 .form-check-input {
    margin-right: 5px;
}
footer {
    background-color: var(--color7);
}
footer .footer-top {
    padding-top: 70px;
}
footer .firstcol h4 {
    color: var(--color4);
    margin-bottom: 15px;
}
footer .firstcol p {
    color: var(--colorWhite);
}
.footer-top h3 {
    font-size: var(--fontSize4);
    color: var(--color4);
    font-weight: var(--fontWeight7);
    margin-bottom: 20px;
}
.footer-top ul {
    padding: 0px;
}
.footer-top ul li {
    list-style: none;
    color: var(--colorWhite);
}
.footer-top a {
    text-decoration: none;
    color: var(--colorWhite);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight4);
    margin-bottom: 15px;
}
.footer-top a:hover {
    color: var(--color3);
}
.footer-top .col-lg-3:nth-child(2) {
    padding-left: 100px;
}
.footer-top .col-lg-3:nth-child(3) {
    padding-left: 40px;
}
.footer-top .col-lg-3 .social {
    margin-bottom: 15px;
}
.footer-top .col-lg-3 .social a:nth-child(1) {
    display: inline;
}
.footer-top .col-lg-3 .social a:nth-child(2) {
    display: inline;
    margin-left: 30px;
}
.footer-top .col-lg-3 .social a:nth-child(3) {
    display: inline;
    margin-left: 30px;
}
.footer-top .col-lg-3 svg {
    fill: var(--colorWhite);
    width: 20%;
    height: auto;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.footer-top .col-lg-3 svg:hover {
    fill: var(--color3);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.cookie-bar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: var(--color2);
    color: #fff;
    padding: 10px;
    z-index: 9999;
    transition: all 0.3s ease-in-out; /* animacja */
    -webkit-transition: all 0.3s ease-in-out; /* animacja dla przeglądarek WebKit */
}
.cookie-bar p {
    margin: 0px;
}
.cookie-btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 1px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.cookie-buttons {
    display: flex;
}
.hide {
    display: none;
}
.footer-bottom {
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: 2px solid var(--color20);
}
.footer-bottom .col-lg-12 p {
    color: var(--colorWhite);
}
.footer-bottom .col-lg-12 span {
    color: var(--color3);
    -webkit-transition: all 0.35s;
    transition: all 0.35s
}
.footer-bottom .col-lg-12 span:hover {
    color: var(--colorWhite);
    -webkit-transition: all 0.35s;
    transition: all 0.35s
}
.display-mobile {
    display: none;
}
.display-desktop {
    display: block;
}
/*Rozdzielczośc dla laptopów */
@media (max-width: 1399.98px) {
    header h1 {
        padding: 0px 200px;
    }
    .section-1 .col-lg-2 {
        padding: 15px;
    }
    .section-2 .col-lg-6:nth-child(1) {
        padding: 0px 55px;
    }
    .section-2 .col-lg-6 .second-photo {
        left: 135px;
        bottom: 85px;
    }
}
/*Rozdzielczośc dla tabletów / laptopów  */
@media (max-width: 1199.98px) {
    .navbar ul li a {
        margin-right: 20px;
    }
    .container-fluid {
        padding: 0px 50px;
    }
    .navbar .btn-1 {
        display: none;
    }
    header h1 {
        font-size: var(--fontSize8)!important;
        padding: 0px 90px!important;
    }
    .section-1 .container {
    margin-top: 40px;
    }
    .section-1 .col-lg-4 {
        margin-top: 70px;
        width: 45.333333%;
    }
    .section-2 .container {
        padding-top: 70px;
        padding-bottom: 260px;
    }
    .section-2 .col-lg-6 {
        width: 100%;
    }
    .section-2 .col-lg-6 .first-photo {
        width: 35%;
    }
    .section-2 .col-lg-6 .second-photo {
        width: 35%;
        left: 125px;
        bottom: -130px;
    }
}
/*Rozdzielczośc dla tabletów */
@media (max-width: 991.98px) {
    .navbar-toggler-icon {
        background: url(../img/bars-solid.svg) center center no-repeat;
    }
    .text-end {
        margin-left: 145px;
    }
    header h1 {
        font-size: var(--fontSize8)!important;
        padding: 0px 90px!important;
    }
    .section-2 .col-lg-6 .first-photo {
        width: 45%;
    }
    .section-2 .col-lg-6 .second-photo {
        width: 45%;
        left: 125px;
        bottom: -130px;
    }
    
}
/*Rozdzielczośc dla telefonów - poziomo */
@media (max-width: 767.98px) {
    .nav-top {
        display: none;
    }
    #navbar {
        top: 0px;
    }
    .section-1 .col-lg-4 {
        margin-top: 70px;
        width: 100%;
    }
    .section-2 .container {
        padding-bottom: 160px;
    }
    .section-2 .col-lg-6:nth-child(1) {
        padding: 0px 0px;
    }
    .section-2 .col-lg-6 h2 {
        font-size: var(--fontSize6);
        font-weight: var(--fontWeight7);
    }
    .section-2 .col-lg-6 .first-photo {
        width: 70%;
    }
    .section-2 .col-lg-6 .second-photo {
        display: none;
    }
}
/*Rozdzielczośc dla telefonów - pionowo */
@media (max-width: 575.98px) {

}